.App {
  background: linear-gradient(to right, #ddd6f3, #faaca8);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin: 0px 5px;
  outline: none;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  /* align-items: stretch; */
  flex-wrap: wrap;
  text-decoration: none;
}

.recipe_recipe__1Jwgd {
  display: flex;
  max-width: 100%;
}

ul {
  list-style-type: none;
  line-height: 25px;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .recipes ul {
    font-size: 15px;
    padding: 4px 5px;
  }
  .recipes h1 {
    font-size: 1.2rem;
  }
}