.App {
  text-align: center;
  background: linear-gradient(to right, #ddd6f3, #faaca8);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  margin: 0px 5px;
  outline: none;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  outline: none;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  /* align-items: stretch; */
  flex-wrap: wrap;
  text-decoration: none;
}

